<?xml version="1.0"?>
<Events>
	<Event id="buttonEvent">
        <Name>Button Event</Name>
 		<ConfigUI>
            <Field type="menu" id="event_type" defaultValue="Press">
                <Label>Event:</Label>
                <List>
                    <Option value="Press">Button Press</Option>
                    <Option value="Release">Button Release</Option>
                </List>
            </Field>
            <Field id="bridge" type="menu">
                <Label>Bridge/Hub:</Label>
                <List class="self" method="get_bridge_list" dynamicReload="true"/>
                 <CallbackMethod>menuChanged</CallbackMethod>
           </Field>
            <Field id="button_address" type="menu">
                <Label>Button:</Label>
                <List class="self" filter="" method="get_button_list"  dynamicReload="true"/>
                <CallbackMethod>menuChanged</CallbackMethod>
            </Field>
 		</ConfigUI>
	</Event>
    <Event id="multiButtonPress">
        <Name>Button Presses</Name>
 		<ConfigUI>
            <Field type="menu" id="clicks" defaultValue="1">
                <Label>Presses:</Label>
                <List>
                    <Option value="1">Single Press</Option>
                    <Option value="2">Double Press</Option>
                    <Option value="3">Triple Press</Option>
                </List>
            </Field>
             <Field id="bridge" type="menu">
                <Label>Bridge/Hub:</Label>
                <List class="self" method="get_bridge_list" dynamicReload="true"/>
                <CallbackMethod>menuChanged</CallbackMethod>
            </Field>
            <Field id="button_address" type="menu">
                <Label>Button:</Label>
                <List class="self" filter="" method="get_button_list"  dynamicReload="true"/>
                <CallbackMethod>menuChanged</CallbackMethod>
            </Field>
 		</ConfigUI>
	</Event>
</Events>
